body {
    background-color: #808080;
    margin:auto;
    max-width:50%
}

#factiontable, img {
    height: 125px;
    width: 125px;
}

#PRTS{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 125px;
    width: 125px;
    text-align: center;
}

#submit{
    position: relative;
    left: 100px;
}

form {
    margin:auto;
    max-width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    margin:auto;
    max-width:10%;
    padding-bottom: 10px;
}

#operatorProfile{
    margin:auto;
    max-width: 40%
}

#operatorProfile, td {
    padding-right: 10px;
    padding-bottom: 10px;
}

#squad td {
    border-style:solid;
    border-color: #000f;
    border-width: 2px;
}

#squad {
    position: fixed;
    top: 90px;
    right: 25px;
}

#squad #invisible-me {
    border-style: none;
}

#squad-remove-info {
    text-align: center;
}

#squad h2{
    position: relative;
    margin: auto;
    max-width: 30%;
}

#operatorTable{
    margin: auto;
    max-width: 50%
}

#operatorTable td:hover{
    color: #0000EE;
}

#editForm{
    margin:auto;
    max-width: 20%
}

#mainSection > p:first-child{
    text-align: center;
}