body {
    background-color: #808080;
    margin:auto;
    max-width:50%
}

#factiontable, img {
    height: 125px;
    width: 125px;
}

#PRTS{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 125px;
    width: 125px;
}

#submit{
    position: relative;
    left: 100px;
}

form {
    margin:auto;
    max-width: 40%
}